<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="false">
  <php>
    <includePath>./lib/</includePath>
    <const name="RAXSDK_STRICT_PROPERTY_CHECKS" value="1"/>
    <const name="TESTDIR" value="tests/"/>
    <const name="TEST_DOMAIN" value="http://example.com"/>
    <const name="TEST_SECRET" value="This is a secret"/>
  </php>
  <testsuite>
    <directory>./tests/</directory>
  </testsuite>
</phpunit>
