<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="OpenStack">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix="Interface.php">./src</directory>
                <directory suffix="Api.php">./src</directory>
                <directory suffix="Params.php">./src</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>